.sidebar {
    background-color: gold;
    width: 50%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid black;
    box-sizing: border-box;
}
#pics {
    float: right;
    padding: 20px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    border: solid black 2px;

}
.adjust {
    text-indent: -10%;
}
.column{
    background-color: aquamarine;
    text-align: center;
    box-sizing: border-box;

}
.my-class {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    padding: 20px;
}

.box1 {
    width: 50%;

}