.sidebar {
    float: left;
    background-color: gold;
    width: 50%;
    text-align: center;
    border: 2px solid black;
}
#pics {
    float: right;

}
.adjust {
    text-indent: -10%;
}
.column{
    background-color: aquamarine;
    width: 50%;
    text-align: center;

}
.my-class {
    border: 2px solid black;
}